<div
  class="flex flex-col justify-center bg-gray-100 max-w-[1024px] mx-auto px-10 pt-10"
>
  <div class="flex flex-col">
    <span class="text-gray-700 text-[0.9rem]">TimeSheet Info</span>
    <hr class="text-gray-900 mt-1" />
  </div>

  <div class="flex flex-col mt-6">
    <span class="text-gray-900 text-[.8rem]">Employee :</span>
    <p class="text-[.8rem] pt-1 text-gray-600">
      R9Z01196N--Kirigha, Samuel - R9Z01196N
    </p>
  </div>

  <div class="flex justify-start gap-10">
    <mat-form-field appearance="fill" class="example-form-field relative">
      <label
        class="text-[.8rem] -ml-4 text-gray-600 after:content-['*'] after:ml-0.5 after:text-red-500"
        >Choose a date</label
      >
      <input
        matInput
        [matDatepicker]="datepicker"
        placeholder="Date"
        class="!text-[0.8rem]"
        #dateSelected
        (dateChange)="onDateChange(dateSelected)"
      />
      <mat-icon
        matDatepickerToggleIcon
        *ngIf="showDateCancelForSingleDate"
        (click)="clearDate($event, dateSelected)"
        class="cursor-pointer absolute top-7 right-1"
        ><fa-icon [icon]="faXmark" class="text-gray-600 text-lg"></fa-icon
      ></mat-icon>
      <mat-datepicker-toggle
        (click)="toggleShowDateCancelForSingleDate()"
        matIconSuffix
        [for]="datepicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #datepicker>
        <mat-datepicker-actions>
          <button mat-button matDatepickerCancel>Cancel</button>
          <button mat-raised-button color="primary" matDatepickerApply>
            Apply
          </button>
        </mat-datepicker-actions>
      </mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill" class="example-form-field">
      <label
        class="text-[.8rem] -ml-4 text-gray-600 after:content-['*'] after:ml-0.5 after:text-red-500"
        >Enter a date range</label
      >
      <mat-date-range-input [rangePicker]="rangePicker" class="!text-[0.8rem]">
        <input matStartDate placeholder="Start date" #dateRangeStart />
        <input
          matEndDate
          placeholder="End date"
          #dateRangeEnd
          (dateChange)="dateRangeChange(dateRangeStart, dateRangeEnd)"
        />
      </mat-date-range-input>
      <mat-icon
        matDatepickerToggleIcon
        *ngIf="showDateCancelForDateRange"
        (click)="clearDateRange($event, dateRangeStart, dateRangeEnd)"
        class="cursor-pointer absolute top-7 right-0"
        ><fa-icon [icon]="faXmark" class="text-gray-600 text-lg"></fa-icon
      ></mat-icon>
      <mat-datepicker-toggle
        (click)="toggleShowDateCancelForDateRange()"
        matIconSuffix
        [for]="rangePicker"
      ></mat-datepicker-toggle>
      <!-- #docregion date-range-picker-actions -->
      <mat-date-range-picker #rangePicker>
        <mat-date-range-picker-actions>
          <button
            mat-button
            matDateRangePickerCancel
            (click)="resetDateRange()"
          >
            Cancel
          </button>
          <button mat-raised-button color="primary" matDateRangePickerApply>
            Apply
          </button>
        </mat-date-range-picker-actions>
      </mat-date-range-picker>
      <!-- #enddocregion date-range-picker-actions -->
    </mat-form-field>
  </div>

  <div class="flex flex-col gap-5">
    <div>Single Date: {{ dateSelected.value }}</div>
    <div class="flex gap-5">
      <div>Start Date: {{ dateRangeStart.value }}</div>
      <div>End Date: {{ dateRangeEnd.value }}</div>
    </div>
    <div class="flex flex-col w-64">
      <label for="" class="text-[.8rem] text-gray-900"
        >Description (optional)</label
      >
      <textarea
        type="text"
        (change)="onDescriptionChange($event)"
        class="w-full px-2 py-1 text-[0.8rem] h-8 rounded-lg outline outline-0 focus:border focus:border-blue-500"
      ></textarea>
    </div>

    <div class="flex flex-col">
      <label for="" class="text-[.8rem] text-gray-900"
        >Attachment (optional)</label
      >

      <div class="w-64 flex items-center relative">
        <input
          type="text"
          (change)="onAttachmentChange($event)"
          class="w-[100%] transparent text-[0.8rem] px-2 h-8 rounded-lg outline outline-0 focus:border focus:border-blue-500"
        />

        <span
          (click)="onToggleShowAttachmentSelect()"
          class="flex items-center absolute right-0 pr-2 pt-2 cursor-pointer text-blue-500 z-40"
          ><fa-icon [icon]="faAngleDown" [classes]="['icon-styles']"></fa-icon>
        </span>

        <form
          class="example-form w-64 absolute top-0 left-0"
          *ngIf="showAttachmentSelect"
        >
          <div class="example-full-width" appearance="fill">
            <input
              type="text"
              placeholder="Select attachment"
              aria-label="Number"
              matInput
              class="w-full h-8 px-2 rounded-lg text-[0.8rem] outline outline-0 focus:border focus:border-blue-500 placeholder:text-[0.8rem]"
              [formControl]="attachmentControl"
              [matAutocomplete]="auto"
            />
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option
                *ngFor="let option of filteredAttachOptions | async"
                [value]="option"
                class="text-[0.8rem]"
              >
                {{ option }}
              </mat-option>
            </mat-autocomplete>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="flex mt-10 mb-10">
    <button
      (click)="openDialog()"
      class="tex-blue-600 border border-blue-400 py-1 text-blue-400 px-4 text-[0.7rem] rounded-[5px]"
    >
      Enter Time
    </button>
  </div>
</div>

<div
  class="mt-5 flex flex-col justify-center bg-gray-100 max-w-[1024px] mx-auto px-10 pt-10"
>
  <p class="text-[0.9rem] text-gray-600">Time entered Information</p>

  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8 demo-table shadow-none"
  >
    <!-- Name Column -->
    <ng-container matColumnDef="project">
      <th
        mat-header-cell
        *matHeaderCellDef
        class="text-[0.9rem] border border-r-gray-300"
      >
        Project
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        class="text-[0.8rem] border border-r-gray-300"
      >
        {{ element.project }}
      </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="task">
      <th
        mat-header-cell
        *matHeaderCellDef
        class="text-[0.9rem] border border-r-gray-300"
      >
        Task
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        class="text-[0.8rem] border border-r-gray-300"
      >
        {{ element.task }}
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="date">
      <th
        mat-header-cell
        *matHeaderCellDef
        class="text-[0.9rem] border border-r-gray-300"
      >
        Date
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        class="text-[0.8rem] border border-r-gray-300"
      >
        {{ element.date }}
      </td>
    </ng-container>

    <ng-container matColumnDef="dateRange">
      <th
        mat-header-cell
        *matHeaderCellDef
        class="text-[0.9rem] border border-r-gray-300"
      >
        Date Range
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        class="text-[0.8rem] border border-r-gray-300"
      >
        {{ element.dateRange }}
      </td>
    </ng-container>

    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef class="text-[0.9rem]">Total</th>
      <td mat-cell *matCellDef="let element" class="text-[0.8rem]">
        {{ element.total }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <div
    class="flex items-center justify-between px-3 py-1 border border-b-gray-400"
  >
    <p class="text-[1rem] leading-2 tracking-3">Total</p>
    <span class="pr-7">40</span>
  </div>

  <div class="flex items-center gap-4 justify-end mt-10 mb-5">
    <button
      class="tex-blue-600 border border-blue-400 py-1 text-blue-400 px-4 text-[0.7rem] rounded-[5px]"
    >
      Save As Draft
    </button>
    <button
      class="tex-blue-600 border border-blue-400 py-1 text-blue-400 px-4 text-[0.7rem] rounded-[5px]"
    >
      Submit
    </button>
  </div>
</div>
