<div
  class="flex flex-col justify-center bg-gray-100 max-w-[1024px] mx-auto px-10 pt-10"
>
  <div class="flex flex-col">
    <span class="text-gray-700 text-[0.9rem]">TimeSheet Info</span>
    <hr class="text-gray-900 mt-1" />
  </div>

  <div class="flex flex-col mt-6">
    <span class="text-gray-900 text-[.8rem]">Employee :</span>
    <p class="text-[.8rem] pt-1 text-gray-600">
      R9Z01196N--Kirigha, Samuel - R9Z01196N
    </p>
  </div>

  <mat-form-field
    appearance="fill"
    class="example-form-field relative w-[300px]"
  >
    <label
      class="text-[.8rem] -ml-4 text-gray-600 after:content-['*'] after:ml-0.5 after:text-red-500"
      >Begin date</label
    >
    <input
      matInput
      [matDatepicker]="datepicker"
      placeholder="Date"
      class="!text-[0.8rem] -ml-4"
      [value]="defaultDate"
      #dateSelected
      (dateChange)="onDateChange('change', $event)"
    />
    <mat-datepicker-toggle
      matIconSuffix
      [for]="datepicker"
    ></mat-datepicker-toggle>
    <mat-datepicker #datepicker>
      <mat-datepicker-actions>
        <button mat-button matDatepickerCancel>Cancel</button>
        <button mat-raised-button color="primary" matDatepickerApply>
          Apply
        </button>
      </mat-datepicker-actions>
    </mat-datepicker>
  </mat-form-field>

  <div class="flex flex-col">
    <div class="flex flex-col gap-3">
      <div class="flex flex-col">
        <span class="!text-[0.8rem] leading font-[400]">End date</span>
        <span class="!text-[0.8rem] font-[300]">{{ endDate }}</span>
      </div>
      <div class="flex flex-col gap-[2px]">
        <span class="!text-[0.8rem] leading-1 font-[400]">GL post date</span>
        <span class="!text-[0.8rem] font-[300]">{{ endDate }}</span>
      </div>
    </div>
  </div>

  <div class="flex mt-6 mb-10">
    <button
      (click)="openDialog(info)"
      class="tex-blue-600 border border-blue-400 py-1 text-blue-400 px-4 text-[0.7rem] rounded-[5px]"
    >
      Enter Time
    </button>
  </div>
</div>

<div
  class="mt-5 flex flex-col justify-center bg-gray-100 max-w-[1024px] mx-auto px-10 pt-10"
>
  <p class="text-[0.9rem] text-gray-600">Time entered Information</p>

  <div
    class="flex items-center justify-between px-3 py-1 border border-b-gray-400"
  >
    <p class="text-[1rem] leading-2 tracking-3">Total</p>
    <span class="pr-7">40</span>
  </div>

  <div class="flex items-center gap-4 justify-end mt-10 mb-5">
    <button
      class="tex-blue-600 border border-blue-400 py-1 text-blue-400 px-4 text-[0.7rem] rounded-[5px]"
    >
      Save As Draft
    </button>
    <button
      class="tex-blue-600 border border-blue-400 py-1 text-blue-400 px-4 text-[0.7rem] rounded-[5px]"
    >
      Submit
    </button>
  </div>
</div>
