<!-- <mat-form-field appearance="fill" class="example-form-field">
  <label
    class="text-[.8rem] -ml-4 text-gray-600 after:content-['*'] after:ml-0.5 after:text-red-500"
    >Enter a date range</label
  >
  <mat-date-range-input [rangePicker]="rangePicker" class="!text-[0.8rem]">
    <input matStartDate placeholder="Start date" #dateRangeStart />
    <input
      matEndDate
      placeholder="End date"
      #dateRangeEnd
      (dateChange)="dateRangeChange(dateRangeStart, dateRangeEnd)"
    />
  </mat-date-range-input>
  <mat-icon
    matDatepickerToggleIcon
    *ngIf="showDateCancelForDateRange"
    (click)="clearDateRange($event, dateRangeStart, dateRangeEnd)"
    class="cursor-pointer absolute top-7 right-0"
    ><fa-icon [icon]="faXmark" class="text-gray-600 text-lg"></fa-icon
  ></mat-icon>
  <mat-datepicker-toggle
    (click)="toggleShowDateCancelForDateRange()"
    matIconSuffix
    [for]="rangePicker"
  ></mat-datepicker-toggle>
  <mat-date-range-picker #rangePicker>
    <mat-date-range-picker-actions>
      <button mat-button matDateRangePickerCancel (click)="resetDateRange()">
        Cancel
      </button>
      <button mat-raised-button color="primary" matDateRangePickerApply>
        Apply
      </button>
    </mat-date-range-picker-actions>
  </mat-date-range-picker>
</mat-form-field> -->
